<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chicago Beach Lab Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our CSS  -->
    <link rel="stylesheet" href="./static/css/style.css" />
    <style>
        .jumbotron {
            text-align: center;
        }
    </style>
</head>

<body>

    <div class="jumbotron">
        <h2>Chicago Beach Lab Data</h2>
    </div>

    <div class="container-fluid">
    
        <div class="table-responsive" id="data">
            <table class="table">
                <thead>
                    <tr>
                        <th> Date </th>
                        <th> Beach </th>
                        <th> Source </th>
                        <th> Level </th>
                        <th> Latitude </th>
                        <th> Longitude </th> 
                    </tr>
                </thead>
                <tbody>
                    {% for prediction in predictions %}
                    <tr>
                        <td>
                            {{ prediction.date }}
                        </td>                              
                        <td>
                            {{ prediction.beach_name }}
                        </td>
                        <td>
                            {{ prediction.prediction_source }}
                        </td>
                        <td>
                            {{ prediction.predicted_level }}
                        </td>
                        <td>
                            {{ prediction.latitude }}
                        </td>
                        <td>
                            {{ prediction.longitude }}
                        </td>
                        
                        
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>                  
        </div>  
    </div>
    
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="./static/js/config.js"></script>
    <script src="./static/js/data.js"></script>
    <script src="./static/js/weather.js"></script>
    <script src="./static/js/plot.js"></script> -->
</body>

</html>