<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JSON Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Chicago Beach Lab Data</h1>
      <!-- <p><a class="btn btn-primary btn-lg" href="scrape" role="button">Get Data &raquo;</a></p> -->
    </div>

    <div class="container">
        <div class="row">
          <div class="col">
            <ul style="list-style: none;">
              {% for sample in samples %}
                <li>
                    id: {{ sample.dna_test_id }}: 
                    timestamp: {{ sample.dna_sample_timestamp }}
                    beach: {{ sample.beach }}
                    sample 1: {{ sample.dna_sample_1_reading }}
                    sample 2 {{ sample.dna_sample_2_reading }}
                    mean: {{ sample.dna_reading_mean }}
                    latitude: {{ sample.latitude }}
                    longitude: {{ sample.longitude }}
                  </li>
              {% endfor %}
          </ul>
          </div>
        </div>

  </div>
</body>

</html>