<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mongo Database</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h2>Chicago Beach Lab Data</h2>
      <!-- <p><a class="btn btn-primary btn-lg" href="scrape" role="button">Get Data &raquo;</a></p> -->
    </div>

    <div class="container">
        <div class="row">
          <div class="col">
            <ul style="list-style: none;">
              <h3>e_coli prediction as list</h3>
              {% for prediction in predictions %}
                <li>
                    beach_name: {{ prediction.beach_name }}: 
                    date: {{ prediction.date }}
                    prediction_source: {{ prediction.prediction_source }}
                    predicted_level: {{ prediction.predicted_level }}
                    latitude {{ prediction.latitude }}
                    longitude: {{ prediction.longitude }}
                  </li>
              {% endfor %}              
            </ul>
          </div>
        </div>

  </div>
</body>

</html>